In [1]:
#Q1. Create one variable containing following type of data:

In [2]:
a = [2,3,4,5, 'lamb', "ilamb91", 11.11, True]

In [3]:
a

[2, 3, 4, 5, 'lamb', 'ilamb91', 11.11, True]

In [4]:
type(a)

list

In [5]:
b = "lamb"

In [6]:
type(b)

str

In [7]:
c = 11.11

In [8]:
type (c)

float

In [21]:
#Q2. Given are some following variables containing data:

In [10]:
var1 = 'hello'

In [11]:
type(var1)

str

In [12]:
var2 = '[DS, ML, Python]'

In [15]:
type(var2)

str

In [16]:
var3 = ['DS', 'ML', 'Python']

In [17]:
type(var3)

list

In [18]:
var4 = 1.

In [19]:
type(var4)

float

In [22]:
#Q3. Explain the use of the following operators using an example:

In [23]:
#(i) / - It is used to divide in calculation. It is the type of arithmetic operator

In [24]:
10/5

2.0

In [25]:
#(ii) % - It is modulas arrithmetic operator. It show the remainder of calculation

In [26]:
10%5

0

In [29]:
#(iii) // - It is called division floor. It is also arithmetic operator.

In [28]:
10//5

2

In [30]:
#(iv) ** - It is called power or expontion. It is all arithmetic operator.

In [31]:
10**5

100000

In [33]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [34]:
l = [2,3,4,5.5,'lamb',5,6,True,'ilamb91', False]

In [35]:
l

[2, 3, 4, 5.5, 'lamb', 5, 6, True, 'ilamb91', False]

In [36]:
type(l)

list

In [39]:
for i in l :
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5.5
<class 'float'>
lamb
<class 'str'>
5
<class 'int'>
6
<class 'int'>
True
<class 'bool'>
ilamb91
<class 'str'>
False
<class 'bool'>

In [40]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [49]:
A = 100
B = 5
if A/B :
    print ("yes A is purely divisible by B")

yes A is purely divisible by B

In [57]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [63]:
C = [1,2,3,12,14,15,27,22,34,26,28,11,13,15,18,20,29,13,48,36,35,38,58,57,68]

In [64]:
type (C)

list

In [69]:
for D in C :
    print (type (C))
    if D/3 :
        break
else :
    print ('done')

<class 'list'>

#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#Mutable and Imutatble data type are collection of data. They consist the Index concept. Every string of List data contain index like forwarding index which is start from 0, 1, 2, 3 and so on. Same it consist backwarding index also int start with -1, -2, -3 and so on. In list data taype we can change the data of that list so we can say it is Mutable object. In string data type we can not change the data, due to that we can tell that is Imutable object.

- Mutable

In [71]:
E = [2,3,4,'lamb', 11.11]

In [72]:
type (E)

list

In [74]:
E[2]=12.12

In [75]:
list (E)

[2, 3, 12.12, 'lamb', 11.11]

- Imutable

In [76]:
F = "ilamb91"

In [80]:
F[2]

'a'

In [81]:
F[2]=5

TypeError: 'str' object does not support item assignment